@media (max-width: 1550px){
    .Categories{
        width: 100% !important;
    }
    .Categories-List{
        padding: 1rem !important;
    }
}
@media (max-width: 1450px){
    .Categories-Filter{
        grid-template-columns: repeat(5, 1fr) !important;
    }
}
@media (max-width: 830px){
    .Categories-Filter{
        grid-template-columns: repeat(4, 1fr) !important;
    }
}
@media (max-width: 670px){
    .Categories-Filter{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media (max-width: 500px){
    .Categories-Filter{
        grid-template-columns: repeat(5, 1fr) !important;
    }
    .Categories-Filter button{
        width: 5rem !important;
        height: 5rem !important;
    }
    .Categories-Filter button p{
        display: none;
    }
    .Categories-Filter button img{
        transform: translateY(0) !important;
    }
}
@media (max-width: 330px){
    .Categories-Filter{
        grid-template-columns: repeat(4, 1fr) !important;
    }
}