@media (max-width: 1550px){
    /* ADAPTAMOS AL 100% DE LA PANTALLA NUESTRO LARGO */
    .Categories{
        width: 100% !important;
    }
    /* ASIGNAMOS UN PADDING PARA QUE NO QUEDE TODO PEGADO */
    .Categories-List, .Categories-Products{
        padding: 1rem;
    }
}
@media (max-width: 1450px){
    /* MOSTRAMOS 5 CATEGORIAS EN LUGAR DE  10 */
    .Categories-Filter{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (max-width: 830px){
    /* MOSTRAMOS 4 CATEGORIAS EN LUGAR DE  5 */
    .Categories-Filter{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 670px){
    /* MOSTRAMOS 3 CATEGORIAS EN LUGAR DE  4 */
    .Categories-Filter{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1250px){
    /* CAMBIAMOS EL TEMAÑO DEL TITULO DE LAS CATEGORIA */
    .Categories-List-Title{
        font-size: var(--H3);
    }
    /* MOSTRAMOS 3 PRODUCTOS EN LUGAR DE 4 */
    .Categories-Products{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 980px){
     /* MOSTRAMOS 2 PRODUCTOS EN LUGAR DE 3 */
    .Categories-Products{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    /* CAMBIAMOS EL TEMAÑO DEL TITULO DE LAS CATEGORIA */
    .Categories-List-Title{
        font-size: var(--H4);
    }
     /* MOSTRAMOS 1 PRODUCTO EN LUGAR DE 2 */
    .Categories-Products{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 500px){
    /* OCULTAMOS EL TEXTO DE LAS CATEGORIAS */
    .Categories-Filter button p{
        display: none;
    }
    /* VOLVEMOS LOS BOTONES CIRCULARES */
    .Categories-Filter button{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
    /* MOSTRAMOS 5 CATEGORIAS EN LUGAR DE  3 */
    .Categories-Filter{
        grid-template-columns: repeat(5, 1fr);
    }
    /* VOLVEMOS A SU UBICACION CENTRAL LA IMAGEN DEL ICONO */
    .Categories-Filter button img{
        transform: translateY(0);
    }
}
@media (max-width: 330px){
    /* MOSTRAMOS 4 CATEGORIAS EN LUGAR DE  5 */
    .Categories-Filter{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 270px){
    /* CAMBIAMOS EL TAMAÑO DEL CONTENEDOR DE LA
    IMAGEN DEL PRODUCTO */
    .Categories-Products-Item-Image{
        height: 20rem;
    }
    /* CAMBIAMOS EL TAMAÑO DE IMAGEN DEL PRODUCTO */
    .Categories-Products-Item-Image img{
    width: 15rem;
    height: 15rem;
    }
    /* MOSTRAMOS 3 CATEGORIAS EN LUGAR DE  4 */
    .Categories-Filter{
        grid-template-columns: repeat(3, 1fr);
    }
}