@media (max-width: 1550px){
    /* ADAPTAMOS AL 100% DE LA PANTALLA NUESTRO LARGO */
    .Product{
        width: 100% !important;
    }
    /* ASIGNAMOS UN PADDING PARA QUE NO QUEDE TODO PEGADO 
    TAMBIEN DISMINUIMOS LA SEPARACION Y AHORA MOSTRAREMOS
    2 COLUMNAS */
    .Product-Description{
        padding: 1rem;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }
    /* ASIGNAMOS UN PADDIN PARA QUE NO QUEDE TODO PEGADO */
    .Product-Details{
        padding: 1rem;
    }
    /* LA IMAGEN AHORA ABARCARA 1 COLUMNA */
    .Product-Description-Image{
        grid-column: span 1;
    }
    /* CAMBIAMOS EL TAMAÑO DE LA IMAGEN */
    .Product-Description-Image img{
        width: 70%;
        height: 60%;
    }
}
@media (max-width: 1300px){
    /* CAMBIAMOS EL TAMAÑO DE LA IMAGEN */
    .Product-Description-Image img{
        width: 70%;
        height: 55%;
    }
}
@media (max-width: 1000px){
    /* CAMBIAMOS EL TAMAÑO DE
    LA LISTA DE LAS ESPECIFICACIONES */
    .Product-Specifications-Text{
        width: 100%;
    }
}
@media (max-width: 780px){
    /* AHORA MOSTRAREMOS 1 COLUMNAS */
    .Product-Description{
        grid-template-columns: 1fr;
    }
    /* CAMBIAMOS EL TAMAÑO DEL CONTENEDOR DE LA IMAGEN */
    .Product-Description-Image{
        height: 35rem;
    }
    /* CAMBIAMOS EL TAMAÑO DE LA IMAGEN */
    .Product-Description-Image img{
        width: 55%;
        height: 90%;
    }
}
@media (max-width: 400px){
    /* CAMBIAMOS EL TAMAÑO DE LA IMAGEN */
    .Product-Description-Image img{
        width: 75%;
        height: 90%;
    }
    /* CAMBIAMOS EL TAMAÑO DE LA LETRA DE LOS TITULOS */
    .Product-Description-Title-Important p:nth-child(1){
        font-size: var(--H3);
    }
    .Product-Description-Price p:nth-child(1){
        font-size: var(--H4);
    }
    .Product-Description-Colors p:nth-child(1){
        font-size: var(--H5);
    }
    .Product-Description-Delivery-Free p,
    .Product-Description-Delivery-Return p:nth-child(1){
        font-size: var(--H6);
    }
    /* CAMBIAMOS EL TAMAÑO DE LOS BOTONES DE COLORES */
    .Product-Description-Colors-Buttons button{
        width: 3rem;
        height: 3rem;
    }

}
@media (max-width: 350px){
    /* ASIGNAMOS UN PADDING  A LOS BOTONES DE 
    COLORES PARA EVITAR QUE SE VEAN MUY PEGADOS */
    .Product-Description-Colors-Buttons{
        padding-bottom: 2rem;
    }
    /* ADAPTAMOS EL BOTON DE AUMENTAR PRODUCTOS */
    .Product-Description-Items{
        flex-direction: column;
    }
    .Product-Description-Items-Add button{
        width: 20%;
    }
    .Product-Description-Items-Add p{
        width: 60%;
    }
}
@media (max-width: 300px){
    /* CAMBIAMOS EL TAMAÑO DEL CONTENEDOR DE LA IMAGEN */
    .Product-Description-Image{
        height: 25rem;
    }
    /* ADAPTAMOS LOS BOTONES */
    .Product-Description-Colors-Buttons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
}
@media (max-width: 250px){
    /* ADAPTAMOS EL CONTENEDOR DE LOS 
    BOTONES DE COMPRAR Y CARRITO */
    .Product-Description-Buy-Cart{
        flex-direction: column;
    }
    /* ADAPTAMOS LOS BOTONES DE COMPRAR Y CARRITO */
    .Product-Description-Buy-Cart button{
        width: 100%;
    }
}