.Categories-List{
    width: 100%;
    margin-top: 8.5rem;
    height: auto;
    gap: 1.5rem;
    padding: 1rem 0;
}
/* ESTILOS PARA EL TITULO DE LAS CATEGORIAS */
.Categories-List-Title{
    min-height: 10rem;
    display: flex;
    align-items: center;
    font-size: var(--H2);
    font-weight: bold;
    border-bottom: 1px solid var(--BgColor);
}
/* ESTILO LISTA DE CATEGORIAS */
.Categories-Filter{
    width: 100%;
    min-height: 5rem;
    height: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
    overflow: hidden;
}
.Categories-Filter button{
    min-height: 5rem;
    padding: 0 2.5rem;
    border-radius: 2.5rem;
    border: none;
    background: var(--BgColor2);
    border: 2px solid var(--BgColor2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: .5s all;
}
.Categories-Filter button p{
    font-weight: bold;
    font-size: var(--H6);
}
.Categories-Filter button:hover{
    cursor: pointer;
    background: var(--BgColor);
    border: 2px solid var(--Black);
}
.Categories-Filter button:focus{
    background-color: var(--White);
    border-color: var(--MainColor);
}
.Categories-Filter button img{
    width: 2rem;
    height: 2rem;
    transform: translateY(.2rem);
}