/* IMPORTAMOS TODAS LAS SECCIONES DEL FOOTER */
@import url(../../Styles/Footer/Mail.css);

.Footer{
    width: 100%;
    height: auto;
    margin-top: 5rem;
    background: var(--MainColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}