.Newsletter{
    width: 150rem;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
/* EMPIEZAN ESTILOS DEL TITULO */
.Newsletter p{
    color: var(--White);
    font-size: var(--H1);
}
/* TERMINAN ESTILOS DEL TITULO */

/* EMPIEZAN ESTILOS DEL FORMULARIO */
.Newsletter form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.Newsletter form input{ 
    width: 35rem;
    height: 5rem;
    font-size: var(--H5);
    background-color: var(--BgColor);
    padding: 1rem;
    border: none;
    font-weight: bold;
}
.Newsletter form button{ 
    width: 10rem;
    height: 5rem;
    font-size: var(--H5);
    background-color: var(--White);
    border: 2px solid var(--White);
    font-weight: bold;
    transition: .5s all;
}
.Newsletter form button:hover{ 
    color: var(--White);
    border-color: var(--White);
    background-color: var(--MainColor);
    cursor: pointer;
}
/* TERMINAN ESTILOS DEL FORMULARIO */

/* EMPIEZAN ESTILOS DE LAS REDES SOCIALES */
.Social-Networks{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.Social-Networks a:hover ion-icon{
    transition: .5s all;
    transform: translateY(-.5rem);
}
.Social-Networks ion-icon{
    font-size: var(--Icons-1);
    color: var(--White);
}
/* TERMINAN ESTILOS DE LAS REDES SOCIALES */
