.Products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* EMPIEZAN ESTILOS DE LOS FILTROS */
.Products-Category{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.Products-Category-Filter{
    min-height: 5rem;
    height: 5rem;
    display: flex;
    gap: 2.5rem;
}
.Products-Category-Filter button{
    height: 100%;
    padding: 0 2.5rem;
    border-radius: 2.5rem;
    border: none;
    background: var(--BgColor2);
    border: 2px solid var(--BgColor2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.Products-Category-Filter button p{
    font-weight: bold;
    font-size: var(--H6);
}
.Products-Category-Filter button:hover{
    cursor: pointer;
    background: var(--BgColor);
    border: 2px solid var(--Black);
}
.Products-Category-Filter button img{
    width: 2rem;
    height: 2rem;
    transform: translateY(.2rem);
}
/* TERMINAN ESTILOS DE LOS FILTROS */

/* EMPIEZAN ESTILOS DEL TITULO DE PRODUCTOS */
.Products-Title{
    font-size: var(--H3);
    font-weight: bold;
    color: var(--Black);
}
.Products-Title ion-icon{
    font-size: var(--Icons);
    transform: translateY(.4rem);
    color: var(--Red);
}
/* TERMINAN ESTILOS DEL TITULO DE PRODUCTOS */

/* EMPIEZAN ESTILOS DE LOS ITEMS */
.Products-List{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.Products-List-Item{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}   
.Products-List-Item-Image{
    cursor: pointer;
    width: 100%;
    height: 35rem;
    background: var(--BgColor);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Products-List-Item-Image img{
    width: 25rem;
    height: 25rem;
}
.Products-List-Item-Name-And-Price{
    display: flex;
    justify-content: space-between;
}
.Products-List-Item-Name-And-Price p{
    font-size: var(--H5);
    font-weight: bold;
}
.Products-List-Item-Description{
    font-size: var(--H6);
}
.Products-List-Item-Rate{
    font-size: var(--H6);
}
.Products-List-Item-Rate ion-icon{
    font-size: var(--H6);
    color: var(--SecundaryColor);
}
.Products-List-Item-Button button{
    padding: 1rem 3rem;
    font-size: var(--H6);
    border: 2px solid var(--Black);
    background-color: var(--White);
    border-radius: 2.5rem;
    font-weight: bold;
}
.Products-List-Item-Button button:hover{
    border-color: var(--MainColor);
    background: var(--MainColor);
    color: var(--White);
    cursor: pointer;
}
.Products-List-Item-Favorite{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background: var(--White);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Products-List-Item-Favorite ion-icon{
    font-size: var(--Icons-2);
}
.Products-List-Item-Favorite:hover ion-icon{
    color: var(--Red);
}
/* TERMINAN ESTILOS DEL LOS ITEMS */

/* EMPIEZAN ESTILOS DE LA PAGINACION */
.Products-Pagination{
    min-height: 5rem;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.Products-Pagination button{
    width: 5rem;
    height: 5rem;
    border: none;
    font-size: var(--H6);
    background-color: var(--BgColor2);
    border: 2px solid var(--BgColor2);
    color: var(--Black);
    border-radius: 50%;
    font-weight: bold;
    display: grid;
    place-content: center;
}
.Products-Pagination button:nth-child(1){
    border: 2px solid var(--MainColor);
    background: var(--MainColor);
    color: var(--White);
}
.Products-Pagination button:nth-child(4){
    background-color: var(--White);
    color: var(--MainColor);
    border: 2px solid var(--MainColor);
}
.Products-Pagination button:nth-child(4) ion-icon{
    font-size: var(--H5);
}
.Products-Pagination button:hover{
    cursor: pointer;
    background: var(--White);
    color: var(--MainColor);
    border-color: var(--MainColor);
}
/* TERMINAN ESTILOS DE LA PAGINACION */
