/* ESTILOS PARA UN LAYOUT TRANSPARANTE Y QUE ESTE SOBRE TODO EL CONTENIDO PRINCIPAL */
.Layout{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    transition: 0s;
    opacity: 0;
    z-index: -1;
}
/* CLASE AGREGADA DESDE EL JS */
.Layout.Active{
    opacity: 1;
    z-index: 1000;
}
/* ESTILOS PARA LA SECCION DEL CARRITO VACIO */
.Cart-Empty{
    position: relative;
    right: -200%;
    width: 50rem;
    height: 100vh;
    background: var(--White);
    padding: 0 1rem;
    float: right;
    text-align: center;
    overflow: auto;
    z-index: 1000;
}
/* CLASE AGREGADA DESDE EL JS */
.Cart-Empty.Active{
    right: 0rem;
}
/* ESTILOS PARA EL TITULO DE LA SECCION */
.Cart-Empty-Title{
    font-size: var(--H4);
    font-weight: bold;
    height: 5rem;
    line-height: 5rem;
    text-align: left;
}
/* ESTILOS PARA EL BOTON DE CERRAR CARRITO */
.Cart-Empty-Close{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: var(--H4);
}
.Cart-Empty-Close:hover{
    cursor: pointer;
}
/* ESTILOS PARA LA IMAGEN DEL CARRITO VACIO */
.Cart-Empty-Image{
    margin: 5rem auto;
    width: 20rem;
    height: 20rem;
}
.Cart-Empty-Text{
    font-size: var(--H5);
    text-align: center;
    font-weight: bold;
}
/* ESTILOS PARA EL BOTON DE SEGUIR BUSCANDO */
.Cart-Empty-Searching{
    margin: 2rem auto;
    font-size: var(--H5);
    padding: 1rem 2.5rem;
    color: var(--White);
    background-color: var(--MainColor);
    border: 2px solid var(--MainColor);
    transition: .5s all;
}
.Cart-Empty-Searching:hover{
    cursor: pointer;
    color: var(--MainColor);
    background-color: var(--White);
}


/* ----------------------- JS ----------------------- */
/* ESTILOS PARA CUANDO SE AGREGUE UN PRODUCTO AL CARRITO */
.Cart-Empty-Product{
    margin-top: 1.5rem;
    height: auto;
    max-height: calc(100% - 140px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    visibility: hidden;
    overflow: auto;
}
/* ESTILOS PARA EL BOTON DE ELIMINAR PRODUCTO DEL CARRITO DE COMPRAS */
.Cart-Empty-Delete-Item{
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    width: 3rem;
    height: 3rem;
    border: none;
    background: var(--White);
    cursor: pointer;
}
.Cart-Empty-Delete-Item ion-icon{
    color: var(--Red);
    font-size: var(--Icons-2);
}
.Cart-Empty-Product-Items{
    position: relative;
    min-width: 100%;
    min-height: 15rem;
    height: auto;
    display: flex;
    gap: 1rem;
    border-radius: 1.5rem;
    border: 2px solid var(--BgColor2);
    overflow: hidden;
}
/* ESTILOS PARA LA IMAGEN DEL PRODUCTO EN EL CARRITO */
.Cart-Empty-Product-Image{
    width: 35%;
    height: 15rem;
    display: grid;
    place-items: center;    
    background: var(--BgColor);
}
.Cart-Empty-Product-Image img{
    width: 80%;
    height: 80%;
}
/* ESTILOS AL NOMBRE DEL PRODUCTO */
.Cart-Empty-Product-Name{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Cart-Empty-Product-Name-Product{
    font-size: var(--H5);
    font-weight: bold;
}
.Cart-Empty-Product-Price-Product{
    font-size: var(--H6);
    color: var(--Red);
    font-weight: bold;
}
.Cart-Empty-Product-Total-Product{
    font-size: var(--H6);
    font-weight: bold;
}
/* ESTILOS BOTON DE PAGAR */
.Cart-Empty-Pay{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    font-size: var(--H5);
    color: var(--White);
    background-color: var(--MainColor);
    border: 2px solid var(--MainColor);
    transition: .5s all;
    display: none;
}
.Cart-Empty-Pay:hover{
    cursor: pointer;
    color: var(--MainColor);
    background-color: var(--White);
}
/* NOTIFICACION DE PRODUCTO AGRREGADO */
.Cart-Notification{
    position: fixed;
    left: calc(50% - 15rem);
    top: -100%;
    width: 30rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    color: var(--White);
    font-size: var(--H5);
    font-weight: bold;
    background: var(--SecundaryColor);
    z-index: 1000;
    transition: .5s all;
}
.Cart-Notification ion-icon{
    margin-left: .5rem;
    font-size: var(--H4);
    transform: translateY(.5rem);
}
.Cart-Notification.Active{
    top: 0;
}